<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="unpacker.log"
            layout="[${longdate}][${logger}] ${level}: ${message}${onexception:inner=${newline}${exception:format=type,message,StackTrace}"/>
    <target xsi:type="ColoredConsole"
            name="logconsole"
            useDefaultRowHighlightingRules="false"
            layout="${message}${onexception:inner=${newline}${exception:format=type,message,StackTrace}"
            header="
               _   _ _           _                                    _             ${newline}
              /_\ | | | ___   __| |___   /\ /\ _ __  _ __   __ _  ___| | _____ _ __ ${newline}
             //_\\| | |/ _ \ / _` / __| / / \ \ '_ \| '_ \ / _` |/ __| |/ / _ \ '__|${newline}
            /  _  \ | | (_) | (_| \__ \ \ \_/ / | | | |_) | (_| | (__|   (  __/ |   ${newline}
            \_/ \_/_|_|\___/ \__,_|___/  \___/|_| |_| .__/ \__,_|\___|_|\_\___|_|   ${newline}
                                                    |_|                             ${newline}
            ${newline}
            ------------ Version: ${assembly-version} | Author: @Paulus-AllodsLegacy ------------ ${newline}">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Cyan"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkCyan"/>
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
